@import url("style.css");


.logo-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    gap: 15rem;
}

.container div{
    flex: 1 1 calc(50% - 1rem); /* ocupa 50% menos o gap */
    box-sizing: border-box;  
}

