@font-face {
    font-family: MissFardose;
    src: url("../assets/fontes/MissFajardose-Regular.ttf");
}

@font-face {
    font-family: Quicksand;
    src: url('../assets/fontes/Quicksand/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: Ashborn;
    src: url('../assets/fontes/ashborn/Ashborn.otf');
}

@font-face {
    font-family: Vaground Cirillic;
    src: url('../assets/fontes/vagroundcyrillic.ttf');
}

@font-face {
    font-family: PunkKid;
    src: url('../assets/fontes/punk-kid/PunkKid/punk\ kid.ttf');
}

@font-face {
    font-family: Anarchy;
    src: url('../assets/fontes/cf-anarchy-font/CfAnarchyRegular-E8m8.ttf');
}

@font-face {
    font-family: Deacon;
    src: url('../assets/fontes/deacon-flock-font/DeaconFlock-z8gAL.ttf');
}

@font-face {
    font-family: cacha;
    src: url('../assets/fontes/cacha-font/CachaPersonalUseRegular-GOx6g.ttf');
}

@font-face {
    font-family: globe;
    src: url('../assets/fontes/the-globe-font/TheGlobePersonalUseBold-2ORlw.ttf');
}

@font-face {
    font-family: dog;
    src: url('../assets/fontes/hot-dog-font/HotDogPersonalUseRegular-p7mEZ.ttf');
}

:root {
  --texto: #23272a;
  --input: #787879;
  --destaque: #e1507a;
  --darkdestaque: rgb(196, 66, 103);
  --destaque-focus: #cb476c12;
  --primaria: #ffffff;
  --escurecer: #1817180a;
  --tags: #584f5835;
  --gradient: linear-gradient(90deg, #ebf7f5 0%, #f5f5e3 50%, #f5e4dc 100%);
  --gradient-blur: linear-gradient(90deg, #ebf7f595 0%, #f5f5e394 50%, #f5e4dc98 100%);
}

/* APLIQUE a classe no <html> (root) */
:root.darkmode {
  --texto: #fafafa;
  --input: #b8b8b8;
  --destaque: #e1507a;
  --darkdestaque: #dd4b74;
  --destaque-focus: #e9a3b750;
  --primaria: #484a62;
  --tags: #f3dff735;
  --escurecer: #04051329;
  --gradient: linear-gradient(90deg, #292f3f 0%, #36394D 50%, #423A57 100%);
  /* vírgula corrigida entre as cores */
  --gradient-blur: linear-gradient(90deg, #292f3fe0 0%, #36394ddd 50%, #423a57e2 100%);
}

body {
  background: var(--gradient);
  color: var(--texto);
  overflow-x: hidden;
}


*{
    margin: 0;
    padding: 0;
    font-family: quicksand;
    box-sizing: border-box;
}


*::selection, mark {
    background: #e9a3b750;
    border-radius: 3px;
}

h1{
    font-family: globe;
    /* letter-spacing: 0.5rem; */
}

html {
  scroll-behavior: smooth;
}

/* body {
  background-image: url("./assets/fundo-branco-com-textura-de-parede-suja.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} */

/* body {
  background: 
    url("./assets/foto-padrao-de-textura-da-parede.jpg") repeat,
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  background-size: 100%;
  background-color: #423A57;
  background-blend-mode: lighten; 
} */

body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--primaria);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--destaque);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkdestaque);
}

section:not(#landing-page) {
    /* margin: 150px 0 0 0; */
    scroll-margin-top: 130px;
}

section{
    margin: 0px;
    padding: 70px 10%;;
}

/* section:nth-child(odd){
    background-color: var(--primaria);
} */

.title{
    padding: 0px 0px 10px 0px;
    font-size: 18px;
}

.section-title{
    font-size: 30px;
    padding: 20px 0px 50px 0px;
    /* width: 400px; */
}

.section-title{
    text-align: center;
}

.section-minititle{
    font-size: 20px;
    font-weight: 500;
}

.section-minititle {
    text-align: center;
}

.container-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    
}

.card {
    border-radius: 20px;
    background-color: var(--primaria);
    padding: 20px;
    width: 50%;
    height: auto;
    box-shadow: 0px 5px 10px 1px #0000000f;
    transition: 0.2s linear;
}

.card:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.card-static {
    display: flex;
    flex-direction: column;
    background-color: var(--primaria);
    border: 1px solid var(--texto);
    border-radius: 20px;
    padding: 20px;
    height: auto;
    transition: 0.2s linear;
}

.card-static:hover {
    transform: none;
    cursor: default;
}

span {
    color: var(--destaque);
    font-family: globe;
}

#logo{
    font-family: ashborn;
    font-size: 60px;
    margin-right: auto;
    padding: 10px 20px 10px 0px;
}

#logospan{
    transform: scaleX(-1);
    font-family: ashborn;
    font-size: 60px;
    margin-right: auto;
    display: inline-block;
}

p, button, li, input, textarea {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

i{
    padding-right: 10px;
}

p, h1, h2, h3, a {
    color: var(--texto);
}

#menu{
    position: sticky;
    top: 0; /* gruda no topo */
    margin: 0;
    z-index: 10;
    padding: 0% 3%;
    background: transparent;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-left, #menu-center, #menu-right {
    flex: 1;
    display: flex;
    align-items: center;
}

#menu-center {
  justify-content: center;
}

#menu-right {
  justify-content: flex-end;
  gap: 1rem;
  margin-left: 0;
}

#itens-menu {
  display: flex;
  gap: 1rem;
}

#menu-mobile-icon {
    display: none;
}

#theme-switch {
    height: 45px;
    width: 45px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--escurecer);
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-mobile-icon {
    height: 45px;
    width: 45px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--escurecer);
}

#theme-switch i, #menu-mobile-icon i{
    font-size: 20px;
    text-align: center;
    color: var(--texto);
}

#theme-switch i:last-child {
    display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li{
    padding: 0.8%;
    margin: 0.8%;
}

nav ul li a:hover {
    color: var(--destaque);
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s linear;
}

button {
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 8px 20px;
    transition: 0.2s linear;
    background-color: var(--destaque);
    color: white;
}

button a {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

button i{
    color: white;
}



button:hover{
    border: 1px solid var(--destaque);
    background-color: transparent;
    transform: scale(1.02);
}

button:hover a {
    color: var(--destaque);
}

/* Landing Page */

#landing-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
}

.text-landing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: auto;
    gap: 1rem;
}

#landing-title {
    font-size: 50px;
}

.foto-landing {
    display: flex;
    justify-content: center;
    width: 53%;
    height: auto;
    margin-left: 30px;

}

.foto-landing img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

/* section: about me */
.icon-card {
    padding: 0px 0px 20px 0px;
}

.aboutme-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  justify-items: center;
}

.cards-left, .cards-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

.foto-perfil img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  max-width: 400px;
  border-radius: 40px;
  border: 20px solid var(--primaria);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 5px 0px 15px 0px;
}

.tags li {
    border: 1.6px solid var(--tags);
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 14px;
    transition: 0.2s linear;
}

.tags li:hover{
    background-color: var(--tags);
}

#section-aboutme h2{
    font-size: 20px;
}

#section-aboutme h3{
    font-size: 16px;
}

.container-aboutme{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Section 3: Portfolio */
#section-portfolio .section-header{
    padding-top: 30px;
}

.img-portfolio {
    width: 100%;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.img-portfolio img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

/* Section 4: Events */

/* .container-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
} 

.slides {
    width: 600px;
    height: 500px;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: var(--primaria);
    border-radius: 20px;
    border: 20px solid var(--primaria);
}

.photos {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.event-photo img {
    width: 600px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.btn-nav {
    position: relative;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.btn-nav button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: white;
    border: none;
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 20px;
}

.event-descriptions {
    width: 40%;
    transition: 1s;
}

.description{
    transition: 1s;
} */

/* Section 5: testimonials */
#section-testimonials .container-card .card-static{
    justify-content: space-between;
    gap: 1rem;
    width: 50%;
}

.photo img{
    object-fit: cover;
    width: 50px;
    height: auto;
    border-radius: 100%;
}

/* BLOG */
.img-blog {
    width: 100%;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.img-blog img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.redirect{
    font-size: 14px;
    padding: 30px 0px 0px 0px;
}

.redirect a:hover {
    color: var(--destaque);
}

.identification {
    display: flex;
    /* padding: 20px 0px 0px 0px; */
    gap: 1rem;
    /* justify-content: center; */
}

#section-blog .container-card .card p{
    display: -webkit-box;          /* cria um container flexível */
    -webkit-box-orient: vertical;  /* orienta as linhas na vertical   */
    -webkit-line-clamp: 2;         /* quantidade de linhas permitidas */
    overflow: hidden;              /* esconde o texto extra           */
    text-overflow: ellipsis;       /* adiciona "…" no fim (opcional)  */
}

.identification .title{
    display: flex;
    align-items: center;
}

/* Section: Contact */

#section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


#contact-forms {
    background-color: var(--primaria);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

form {
    padding: 20px;
    width: 100%;
    max-width: 700px;
}

form .section-title {
    text-align: center;
    padding-bottom: 50px;
}

label, textarea {
    display: block;
    margin-bottom: 10px;
    transition: 0.2s linear;
}

.input-group {
    margin-bottom: 30px;
    width: 100%;
}

input, textarea {
    transition: 0.2s linear;
    border: none;
    background-color: var(--escurecer);
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    outline: 0;
    border: 1px solid transparent;
    color: var(--input);
}

input::placeholder, textarea::placeholder {
    color: var(--input);
}

.row {
    display: flex;
    justify-content: space-between ;
    gap: 1rem;
}

.row .input-group {
    width: 100%;
    max-width: calc(50% - 10px);
}

form .btn-contact {
  display: block;
  margin: 20px auto 0 auto;
  cursor: pointer;
}

input:focus, textarea:focus {
    border: 1px solid var(--destaque);
    outline: none;
    background-color: var(--destaque-focus);
}

.input-group:focus-within label {
  color: var(--destaque);
}

/* Footer */
footer {
    margin: 100px 0px 30px 0px;
    text-align: center;
}

footer p {
    font-size: 14px
}

.network {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.container-network {
    padding: 50px;
}

.network li i{
    font-size: 20px;
    transition: 0.2s linear;
}

.network li{
    transition: 0.2s linear;
}

.network li a:hover{
    color: var(--destaque);
}

.network li:hover{
    transform: scale(1.03);
}
